jupyterlab
jupyterlab-link-share
jupyterlab_vim
jupyterlab-recents
jupyterlab-spreadsheet-editor
jupyter-videochat
jupyterlab-unfold
jupyterlab-spellchecker
jupyterlab_search_replace
jupyterlab-cell-flash
jupyterlab_latex
nbgitpuller
